<script type="text/javascript">
$(function() {
  function isPositiveNumber(text) {
     if (text == '') return false;
     var validChars = "0123456789.";
     for (i = 0; i < text.length; i++) { 
       if (validChars.indexOf(text.charAt(i)) == -1) return false;
    }
    return true;
  }
  function isValidSsn(ssn) {
    if (ssn.length != 11) return false;
    if (parseDay(ssn) < 1 || parseDay(ssn) > 31) return false;
    if (parseMonth(ssn) < 1 || parseMonth(ssn) > 12) return false;
    return true; 
  }
  function calculatePercent(amount, percent) {
    return (Math.round(amount * percent * 100) / 100).toFixed(2);
  }
  function parseDay(ssn) {
    return parseInt(ssn.substr(0, 2), 10);
  }
  function parseMonth(ssn) {
    return parseInt(ssn.substr(2, 2), 10);
  }
  function parseYear(ssn) {
    return parseInt(19 + ssn.substr(4, 2), 10);
  } 
  function updateAmount() {
    salary = $('#employer_employees_attributes_0_salary').val();
    if (isPositiveNumber(salary)) {
      if (salary <= 7152) {
        $('#calculated_amount_td').html(
	  '<strong><span id="calculated_amount">' + calculatePercent(salary, 0.224) + ' €</span></strong>');
        $('#employer_submit').enable();
      
     } else {
        $('#calculated_amount_td').html('<strong><span id="high_salary_notice">Too high salary</span></strong>');
	$('#employer_submit').disable();
      }
    } else {
      $('#calculated_amount_td').html('<span id="errorExplanation">Invalid salary</span>');
      $('#employer_submit').disable();
    }
  }
  function updateEmployeePart() {
    salary = $('#employer_employees_attributes_0_salary').val();
    ssn = $('#employer_employees_attributes_0_ssn').val();
    if (!isValidSsn(ssn)) {
        $('#calculated_employee_part_td').html(
	  '<em><span id="invalid_ssn_notice" class="errorExplanation">SSN invalid</span></em>');
      return;
    }
    if (isValidSsn(ssn) && isPositiveNumber(salary) && salary <= 7152) {
        age = new Date().getFullYear() - parseYear($('#employer_employees_attributes_0_ssn').val());
        employeePartPercent = age >= 53 ? 0.054 : 0.043;
        $('#calculated_employee_part_td').html(
	  '<em><span id="employee_part">' + calculatePercent(salary, employeePartPercent) + ' €</span></em>');
    } else {
      $('#calculated_employee_part_td').html('');
    }
  }
  updateAmount();
  updateEmployeePart();
  $('#employer_employees_attributes_0_salary')
    .bind('change', updateAmount).bind('change', updateEmployeePart)
    .bind('keyup', updateAmount).bind('keyup', updateEmployeePart);
  $('#employer_employees_attributes_0_ssn')
    .bind('change', updateEmployeePart).bind('keyup', updateEmployeePart);
});
</script>
<div id="contentContainer">
  <h1>Pension Insurance calculator</h1>
  <div id="contactInfo">
    <div id="employerInfo">
      <h2>Employer</h2>
      <table border="0" cellspacing="0" cellpadding="0">

	<% @employer.employees.build if @employer.employees.empty? %> 
        <% form_for(@employer) do |f| %>
        <tr>
          <th><!-- <label for="employerFirstName">Firstname</label> -->
	  <%= f.label :first_name %>
	  </th>
          <td><%= f.text_field :first_name %>
          </td>
        </tr>
        <tr>
          <th><!-- <label for="employerLastName">Lastname</label> -->
	  <%= f.label :last_name %>
	  </th>
          
	  <td><!-- <input name="employerLastName" type="text" id="employerLastName" value="Rissanen" /> -->
	  <%= f.text_field :last_name %>
	  </td>
        </tr>
        <tr>
          <th><!-- <label for="employerSocialSecurityNumber">Social security number</label> -->
	  <%= f.label :ssn %>
	  </th>
          <td><!-- <input type="text" name="employerSocialSecurityNumber" id="employerSocialSecurityNumber" /> -->
	  <%= f.text_field :ssn %>
	  </td>
        </tr>
        <tr>
          <th><!-- <label for="employerAddress">Address</label>-->
	  <%= f.label :address %>
	  </th>
          <td><!-- <input name="employerAddress" type="text" id="employerAddress" value="Eurantie 12 B 44" />-->
	  <%= f.text_field :address %>
	  </td>
        </tr>
        <tr>
          <th><!-- <label for="employerPostalCode">Postal code</label> -->
	    <%= f.label :postal_code %>
	  </th> 
          <td><!-- <input name="employerPostalCode" type="text" class="short" id="employerPostalCode" value="00550"/> -->
	  <%= f.text_field :postal_code, :class => 'short'%>
	  </td>
        </tr>
        <tr>
          <th><!-- <label for="employerCounty">City</label> -->
	  <%= f.label :city %>
	  </th>
          <td><!-- <input name="employerCounty" type="text" id="employerCounty" value="Helsinki" /> -->
	  <%= f.text_field :city %>
	  </td>
        </tr>
       </table>
    </div>
  </div>
  <div id="pensionInfo">
    <h2>Employees and pension insurance payments</h2>
    <label for="salaryMonth">Salary month</label>
   <%= f.select :month, 
     options_for_select(['October 2009', 'September 2009', 'July 2009', 'June 2009', 'May 2009',
                         'April 2009', 'March 2009', 'February 2009', 'January 2009', 'December 2008',
			 'November 2008', 'October 2008i']) %>
    <table border="0" cellspacing="0" cellpadding="0">
       <% f.fields_for :employees do |employee_form| %> 
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Social security number</th>
        <th class="salary" scope="col"><strong>Salary</strong></th>
        <th class="calculatedAmount" scope="col"><strong>Pension insurance</strong></th>
        <th class="calculatedAmount" scope="col"><em>Employee's share of the pension insurance</em></th>
      </tr>
      <tr>
        <td>
	<!-- <input type="text" id="employee_first_name"/> -->
 	<%= employee_form.text_field :first_name %>
	</td>
        <td>
	<!-- <input type="text" id="employee_last_name"/> -->
 	<%= employee_form.text_field :last_name %>
	</td>
        <td>
	<!-- <input type="text" id="employee_ssn"/> -->
	<%= employee_form.text_field :ssn %>
	</td>
        <td class="salary">
	<!-- <input type="text" id="employee_salary" value="9500" /> -->
	<%= employee_form.text_field :salary %>
	</td>
        <td class="calculatedAmount" id="calculated_amount_td"></td>
        <td class="calculatedAmount" id="calculated_employee_part_td"></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div id="payment">
    <h2>Payment</h2>
    <%= f.error_messages :header_message => "Please fill the form.", :message => "" %>

 <div id="paymentOptions">
      <div id="snailMail">
        <h3>Order a printed invoice to address</h3>
        <p>Timo Rissanen <br />
          Eurantie 12 B 44<br />
          00550 Helsinki</p>
        <%= f.submit "Order" %>
        <!-- <input type="submit" name="orderInvoice" id="orderInvoice" value="Order invoice" /> -->
	<% end %>
      </div>
    </div>
        <% if flash[:notice] %>
	  <div id="orderStatus"><%= flash[:notice] %></div>
	<% end %> 
  </div>
</div>
