<p>
  <b>First name:</b>
  <%=h @employer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @employer.last_name %>
</p>

<p>
  <b>Ssn:</b>
  <%=h @employer.ssn %>
</p>

<p>
  <b>Address:</b>
  <%=h @employer.address %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @employer.postal_code %>
</p>

<p>
  <b>City:</b>
  <%=h @employer.city %>
</p>


<%= link_to 'Back', employers_path %>
